<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chezmoi.autopush</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>/usr/local/bin/fswatch -0 -r -E --event Created --event Updated --event Removed --event Renamed --event MovedFrom --event MovedTo ~/.local/share/chezmoi | while read -d '' event; do ~/scripts/chezmoi-push.sh; done</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/mishal/Library/Logs/chezmoi/autopush.out</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/mishal/Library/Logs/chezmoi/autopush.err</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/mishal/.local/share/chezmoi</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/mishal</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>LowPriorityIO</key>
    <true/>
    
    <key>Nice</key>
    <integer>10</integer>
    
    <key>ThrottleInterval</key>
    <integer>5</integer>
</dict>
</plist>